# Versión gratuita con Ollama (recomendado para v1)
MODEL=ollama/llama3.1:8b
JIRA_URL=https://testing-agent-qa.atlassian.net/
JIRA_EMAIL=tsueldo99@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0hTJG3-LGl_LNGPZj5G67IyyPIWGU17oOeLPSgwa6yx-pAw5haIJ4k_l383HSALjcN38LH-oZfU12auNOgiElZ9tg8lhZZLYOMwGnHilRMbOBGUPvpsy5jHaFnw-q5fYG5eEOCbAW4fXF3CdAn_P6rihND_M-2_MCmg9uTWbkRaE=082F2821